.fc-today-button.fc-button.fc-button-primary{
    font-family: 'Roboto', sans-serif;;
}

.fc-col-header {
    margin: 0;
}

.fc-col-header-cell.fc-day {
    border: none;
    div{
        a {
            color: white;
            font-size: 18px;
            margin: 10px 0;
        }
    }
}
div.fc-daygrid-day-top{
    flex-direction: row;
}
.fc-scroller.fc-scroller-liquid-absolute{
    overflow: visible;
}
#calendar table {
    margin-bottom: 0;
    td {
        padding: 5px;
    }
}
.fc-event.fc-event-start.fc-event-end.fc-event-future.fc-daygrid-event.fc-daygrid-block-event.fc-h-event {
    border: none;
}
