@import 'variables';

main {
    width: 40vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    img {
        width: 40%;
    }
    form{
        margin-top: 40px;
        width: 100%;
        input {
            margin-bottom: 10px;
            padding-left: 4px;
        }
        input[type=checkbox] {
            width: auto;
            width: 15px;
            height: 15px;
        }
        input[type=submit]:hover {
            text-decoration: underline;
            background-color: $blueHover;
            cursor: pointer;
        }
        select {
            width: 100%;
            margin-bottom: 10px;
            option {
                padding-left: 4px;
            }
        }
    }
}
@import 'responsive';
